body {
	margin: 0;
	font-family: 'Heebo', sans-serif;
	font-size: 30px;
	color: #14396D;
	line-height: 1.6;
}

*,
*: before,
*: after {
	box-sizing: border-box;
} 

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

/* Container */
.container {
	width: 100%;
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.container_inner {
	display: flex;
	justify-content: space-between;
}

.section_header {
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	text-align: center;
}

.section_logo {
	margin: 0 auto;
}

.section_suptitle {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 500;
	color: #00BAEC;
}

.section_title {
	font-size: 50px;
	font-weight: 700;
	line-height: 1.2;
}

/* Header */
.header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

/* Top_header */

.top_header {
	width: 100%;
	background-color: #F3F8FC;
}

.container_header {
	width: 100%;
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.estimate_call_container {
	width: 100%;
	max-width: 296px;
	display: flex;
	justify-content: space-between;
}

.estimate_text {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
}

.estimate_phone {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 500;
}

.social_media {
	padding: 23px 0;
	width: 100%;
	max-width: 150px;
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	font-weight: 400;
}

.top_link {
	color: #14396D;
}

/* Lower_header */

.lower_header {
	padding-top: 18px;
	width: 100%;
	background-color: rgba(255,255,255,0.9);
	border-radius: 0 0 5px 5px;
}

.nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 590px;
	padding: 17px 0;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
}

.nav_link {
	color: #004976;
}

.btn {
	padding: 14px 0;
	margin-top: 5px;
	margin-bottom: 20px;
	width: 100%;
	max-width: 155px;
	font-size: 16px;
	font-weight: 500;
	border-radius: 3px;
	border: 1px solid #FEDB41;
	background-color: #FEDB41;
	text-align: center;
	color: #14396D;
}

/* Intro */

.section_intro {
	position: relative;
	margin-top: 182px;
	padding: 148px 0;
	background-color: #14396D;
}

.intro_title {
	text-align: center;
	font-size: 80px;
	font-weight: 700;
	color: #FFFFFF;
}

.navigator {
	position: absolute;
	display: flex;
	justify-content: space-between;
	bottom: 0;
	right: 170px;
	width: 100%;
	max-width: 201px;
	padding: 20px 40px;
	background-color: #FFFFFF;
	border-top-left-radius: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #004976;
}

.navigator_link {
	color: #004976;
}

.arrow {
	margin-top: 5px; 
}

/* Details */

.section_details {
	padding: 148px 0;
}

/* Project_details */

.project_details {
	width: 100%;
	max-width: 777px;
}

.project_details_image {
	width: 100%;
	height: 450px;
	background-color: #B3B3B3;
}

.project_title {
	margin-top: 44px;
	font-size: 40px;
	font-weight: 700;
	color: #0A1026;
	line-height: 1.2;
}

.project_text {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #686868;
}

.why_choose_points_container {
	width: 100%;
	margin-top: 95px;
}

.why_choose_point {
	display: flex;
	justify-content: space-between;
    width: 87%;
    height: 60px;
    margin-bottom: 20px;
}

.why_choose_circle {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #00BAEC;
	text-align: center;
	color: #FFFFFF;
	font-size: 24px;
	font-weight: 400;
}

.why_choose_text {
	margin-top: -12px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #686868;
}

.why_choose_icon {
	margin-top: 15px;
}

.container_rectangles {
	width: 100%;
	display: flex;
	justify-content: space-between; 
	margin-top: 30px;
}

.why_choose_image {
	width: 370px;
	height: 450px;
	background-color: #B3B3B3;
}

.why_choose_video {
	width: 370px;
	height: 450px;
	background-color: #13277D;
}

.container_play {
	position: relative;
	margin: 185px auto;
	width: 80px;
	height: 80px;
	border: 1px solid rgba(255,255,255,0.28);
	border-radius: 50%;
}

.play_btn {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 0;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	color: #00BAEC;
	cursor: pointer;
}

.project_lower_text {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #686868;
}

/* Side_bar */

.side_bar {
	width: 100%;
	max-width: 370px;
}

.side_bar_title {
	font-size: 24px;
	font-weight: 400;
	color: #0A1026;
	line-height: 1.2;
}

.side_bar_title:after {
	content: "";
	display: block;
	margin-top: 20px;
	width: 58px;
	height: 3px;
	background-color: #00BAEC;
}

/* Project_info */

.side_bar_item {
	margin-bottom: 40px;
	width: 100%;
	max-width: 284px;
	padding: 48px 43px;
	background-color: #F6FBFF;
	border-top: 4px solid #00BAEC;
}

.information {
	margin-top: 30px;
}

.container_information {
	width: 100%;
	max-width: 280px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.container_information:last-child {
	margin-bottom: 0;
}

.property {
	display: flex;
	justify-content: space-between;
	width: 43%;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #0A1026;
	opacity: 0.7;
}

.value {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #0A1026;
}

/* Questions_form */

.questions_form {
	width: 100%;
	margin-top: 30px;
}

.form_input {
	padding: 20px 30px;
	width: 80%;
	margin-bottom: 10px;
	background-color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 500;
	color: #686868;
	border: 0;
}

.form_message {
	padding: 20px 30px;
	width: 80%;
	height: 80px;
	margin-bottom: 10px;
	background-color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 500;
	color: #686868;
	border: 0;
	resize: none;
}

.form_btn {
	padding: 25px 40px;
	width: 100%;
	width: 220px;
	border-radius: 33px;
	background-color: #FEDB41;
	border: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #111111;
	cursor: pointer;
}

.fa-envelope {
	font-size: 14px;
	margin-left: 5px;
}

/* Ads_banner */

.ads_banner {
	position: relative;
	display: block;
	width: 370px;
	height: 533px;
	border-radius: 5px;
	background-color: #B3B3B3;
}

.new_detergent {
	position: absolute;
	top: 20px;
	left: 25%;
	width: 100%;
	width: 179px;
	padding: 15px 0;
	text-align: center;
	border-radius: 5px;
	background-color: #FEDB41;
	border: none;
	font-size: 18px;
	font-weight: 700;
	color: #0E182B;
	cursor: pointer;
}

/* Portfolio */

.section_portfolio {
	padding-bottom: 148px;
}

.container_portfolio_inner {
	padding-top: 80px;
	display: flex;
	justify-content: space-between;
}

.portfolio_item {
	position: relative;
	width: 100%;
	max-width: 370px;
	height: 585px;
	background-color: #F6FBFF;
	border-top-left-radius: 30px;
}

.portfolio_image {
	height: 77%;
	background-color: #14396D;
	border-top-left-radius: 30px; 
	cursor: pointer;
}

.portfolio_item_header {
	position: absolute;
    left: 30px;
    bottom: 30px;
}

.portfolio_item_title {
	font-size: 24px;
	font-weight: 700;
	color: #14396D
}

.portfolio_item_subtitle {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: #00BAEC;
}

/* Footer */

.section_footer {
	padding-top: 148px;
	background-color: #14396D;
}

/* Contacts and Information */

.container_contacts {
	padding-bottom: 76px;
	display: flex;
	justify-content: space-between;
}

.footer_column {
	width: 100%;
	max-width: 300px;
}

.footer_logo {
	width: 192px;
	height: 64px;
	background: url("../img/footer_logo.png") center no-repeat;
	background-size: cover;
}

.contacts_text {
	margin-top: 43px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
	opacity: 0.7;
}

.email_form {
	width: 100%;
	max-width: 300px;
	display: flex;
	margin-top: 58px;
}

.email_input {
	width: 77%;
	padding: 15px;
	background-color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	border: 0;
	color: #14396D;
	border-radius: 3px 0 0 3px;
	line-height: 1.1;
}

.email_input::placeholder {
	color: #14396D;
	opacity: 0.5;
} 

.email_btn {
	width: 23%;
	padding: 15px 20px;
	background-color: #00BAEC;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
	cursor: pointer;
	border: 0;
	border-radius: 0 3px 3px 0;
	line-height: 1.1;
	transition: background .2s linear;
}

.email_btn::placeholder {
	color: #FFFFFF;
	opacity: 0.7;
} 

.email_btn:hover {
	background-color: #0087EE;
}

.footer_title {
	color: #FFFFFF;
	font-size: 24px;
	font-weight: 700;
}

.services_list {
	margin-top: 43px;
	list-style-type: none;
	padding-left: 0; 
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
	opacity: 0.7;
}

.services_list li {
	margin-bottom: 15px;
}

.links {
	text-decoration: none;
	color: #FFFFFF;
}

.block_contact_us {
	position: relative;
	height: 277px;
}

.contact_information {
	margin-top: 43px;
	width: 100%;
	max-width: 324px;
	line-height: 2;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #FFFFFF;
}

.phone_email {
	font-weight: 500;
	opacity: 0.8;
}

.address {
	font-weight: 400;
	opacity: 0.7;
	line-height: 1;
}

.house_number {
	margin-right: 5px;
}

.footer_social_meadia {
	width: 100%;
	max-width: 190px;
	position: absolute;
	display: flex;
	justify-content: space-between;
	bottom: 0;
	font-size: 18px;
}

.social_media_circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #FFFFFF;
	text-align: center;
}

.media_block {
	margin-top: 6px;
}

.facebook_link {
	color: #003072;
}

.twitter_link {
	color: #00BAEC;
}

.pinterest_link {
	color: #027E9F;
}

.instagram_link {
	color: #F001C8;
}

/* Lower_footer */

.lower_footer {
	bottom: 0;
	width: 100%;
	padding: 8px 0;
	background-color: #0D2B55;
}

.container_footer {
	display: flex;
	justify-content: space-between;
}

.privacy_policy {
	width: 100%;
	max-width: 137px;
	margin-top: 5px;
}

.footer_text {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
	opacity: 0.6;
	text-decoration: none;
}