body {
	margin: 0;
	font-family: 'Heebo', sans-serif;
	font-size: 30px;
	color: #14396D;
	line-height: 1.6;
}

*,
*: before,
*: after {
	box-sizing: border-box;
} 

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

/* Container */
.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.container_inner {
	padding-top: 80px;
	display: flex;
	justify-content: space-between;
}

.section_header {
	width: 100%;
	max-width: 536px;
	margin: 0 auto;
	text-align: center;
}

.section_logo {
	margin: 0 auto;
}

.section_suptitle {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 500;
	color: #00BAEC;
}

.section_title {
	font-size: 50px;
	font-weight: 700;
}

/* Rectangle */

.container_features_image {
	width: 100%;
	max-width: 553px;
}

.container_features_dots {
	position: relative;
	margin-top: 450px;
	width: 100%;
	width: 263px;
	height: 240px;
	background-image: url("../img/blue_dots.png");
}

.features_image {
	position: absolute;
	top: -450px;
	left: 35px;
	width: 510px;
	height: 630px;
	border-radius: 0 50px;
	background-color: #B3B3B3;
}

/* Header */
.header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

/* Top_header */

.top_header {
	width: 100%;
	background-color: #F3F8FC;
}

.container_header {
	width: 100%;
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.estimate_call_container {
	width: 100%;
	max-width: 296px;
	display: flex;
	justify-content: space-between;
}

.estimate_text {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
}

.estimate_phone {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 500;
}

.social_media {
	padding: 23px 0;
	width: 100%;
	max-width: 150px;
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	font-weight: 400;
}

.top_link {
	color: #14396D;
}

/* Lower_header */

.lower_header {
	padding-top: 18px;
	width: 100%;
	background-color: rgba(255,255,255,0.9);
	border-radius: 0 0 5px 5px;
}

.nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 590px;
	padding: 17px 0;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
}

.nav_link {
	color: #004976;
}

.btn {
	padding: 14px 0;
	margin-top: 5px;
	margin-bottom: 20px;
	width: 100%;
	max-width: 155px;
	font-size: 16px;
	font-weight: 500;
	border-radius: 3px;
	border: 1px solid #FEDB41;
	background-color: #FEDB41;
	text-align: center;
	color: #14396D;
}

/* Intro */

.section_intro {
	position: relative;
	margin-top: 182px;
	padding: 148px 0;
	background-color: #14396D;
}

.intro_title {
	text-align: center;
	font-size: 80px;
	font-weight: 700;
	color: #FFFFFF;
}

.navigator {
	position: absolute;
	display: flex;
	justify-content: space-between;
	bottom: 0;
	right: 170px;
	width: 100%;
	max-width: 161px;
	padding: 20px 40px;
	background-color: #FFFFFF;
	border-top-left-radius: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #004976;
}

.navigator_link {
	color: #004976;
}

.arrow {
	margin-top: 5px; 
}

/* About Us */

.section_about_us {
	padding-top: 138px;
	padding-bottom: 86px; 
}

.container_about_us {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1274px;
	padding: 0 15px;
	margin: 0 auto;
}

.container_about_us_rectangle {
	margin-top: 66px;
	position: relative;
	width: 100%;
	max-width: 547px;
	height: 696px;
	background-image: url("../img/dots.png");
}

.about_us_rectangle {
	margin-top: -46px;
	position: absolute;
	right: 0;
	width: 100%;
	max-width: 470px;
	height: 630px;
	background-color: #B3B3B3;
	border-radius: 0 50px;
}

.about_us_phone {
	position: absolute;
	bottom: 94px;
	width: 100%;
	max-width: 547px;
	height: 200px;
	background: url("../img/about_us_phone_intro.jpg") center no-repeat;
	background-size: cover;
}

.about_us_phone_text {
	width: 100%;
	max-width: 394px;
	margin: 63px auto;
}

.about_us_phone_suptitle {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: #00BAEC;
}

.about_us_phone_title {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 500;
	color: #14396D;
}

/* About_us_content */

.about_us_content {
	margin: 86px 0;
	width: 100%;
	max-width: 570px;
}

.section_about_us_header {
	width: 100%;
	max-width: 406px;
}

.about_us_text {
	margin-top: 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #004976;
	opacity: 0.7;
}

.characteristics {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 376px;
	margin: 30px 0; 
}

.characteristics_block {
	width: 100%;
	max-width: 165px;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #004976;
	opacity: 0.7;
}

.characteristics_text {
	margin-left: 10px;
}

.about_us_btn {
	padding: 15px 46px;
	font-size: 18px;
	font-weight: 500;
	color: #14396D;
	border-radius: 3px;
	border: 1px solid #FEDB41;
	background-color: #FEDB41;
	text-align: center;
}

/* Features */

.section_features {
	padding: 148px 0;
	background-color: #F6FBFF;
}

.features_item {
	width: 100%;
	max-width: 220px;
	height: 230px;
	padding: 40px 30px;
	background-color: #FFFFFF;
	border-radius: 40px 0;
	cursor: pointer; 
}

.features_item:hover {
	box-shadow: -30px 30px 80px rgba(11,45,91,0.15);
} 

.features_title {
	margin-top: 20px;
	font-size: 24px;
	font-weight: 700;
}

.features_text {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #004976;
	opacity: 0.7;
}

/* Process */

.section_process {
	padding-top: 148px;
	padding-bottom: 200px;
}

.container_process {
	width: 100%;
	max-width: 1366px;
	padding-left: 15px;
	margin-left: 138px;
}

.container_process_inner {
	padding-top: 80px;
	display: flex;
	justify-content: space-between;
}

.process {
	margin-top: 130px;
	padding-top: 30px; 
	width: 100%;
	max-width: 740px;
	height: 660px;
	overflow-x: hidden;
	overflow-y: scroll;
	direction: rtl;
}

.process_item {
	margin-right: 60px;
	margin-left: 50px;
	margin-bottom: 40px;
	width: 100%;
	max-width: 502px;
	display: flex;
	justify-content: space-between;
	padding: 0 40px;
	box-shadow: 0px 10px 50px rgba(0,26,112,0.1);
	border-radius: 5px;
	text-align: left;
}

.process_logo {
	margin: 60px 0;
	width: 68px;
	height: 62px;
}

.process_content {
	width: 100%;
	max-width: 406px;
	margin-top: 30px;
}

.process_title {
	font-size: 30px;
	font-weight: 700;
	color: #14396D;
}

.process_text {
	margin-top: 24px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #004976;
	opacity: 0.7;
}

/* Scrollbar */

.process::-webkit-scrollbar {
	width: 4px;
}

.process::-webkit-scrollbar-track {
	background: #E7EBF0; 
}

.process::-webkit-scrollbar-thumb {
	background: #14396D; 
}

/* Process_rectangle */

.container_process_rectangle {
	position: relative;
	width: 100%;
	max-width: 676px;
	right: 0;
}

.process_rectangle {
	position: absolute;
	width: 606px;
	height: 868px;
	background-color: #B3B3B3;
	border-top-left-radius: 50px;
	right: 0;
}

.container_process_rectangle_inner {
	position: absolute;
	padding: 70px 55px;
	top: 30%;
	left: 0;
	width: 100%;
	max-width: 260px;
	border-left: 5px solid #00BAEC;
	border-radius: 5px;
	background-color: #FFFFFF;
}

.rectangle_title {
	font-size: 30px;
	font-weight: 700;
	color: #14396D;
	line-height: 1.4;
}

.container_rectangle_btn {
	margin-top: 30px;
}

.rectangle_btn {
	padding: 15px 46px;
	font-size: 18px;
	font-weight: 500;
	color: #14396D;
	border-radius: 3px;
	border: 1px solid #FEDB41;
	background-color: #FEDB41;
	text-align: center;
}

/* Fan_fact */

.section_fan_fact {
	padding: 148px 0; 
	background: url("../img/map.png") center no-repeat;
	background-size: cover;
}

.fun_fact_title {
	font-size: 50px;
	font-weight: 700;
	color: #FFFFFF;
}

.fun_fact_item {
	width: 100%;
	max-width: 270px;
	padding: 52px 0;
	text-align: center;
	background-color: #14396D;
	border-radius: 40px 0;
	box-shadow: 0px 10px 80px rgba(11,45,91);
	cursor: pointer;
	transition: all .2s linear;
}

.fun_fact_item:hover {
	background-color: #FFFFFF;
}

.fun_fact_item:hover h2 {
	color: #14396D;
}

.fun_fact_item:hover p {
	color: #14396D;
}

.fun_fuct_item_title {
	font-size: 70px;
	font-weight: 700;
	color: #01F0DB;
}

.fun_fuct_item_subtitle {
	margin-top: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: #FFFFFF;
	opacity: 0.7;
}

/* Testimonials */

.section_testimonials {
	padding: 148px 0;
}

.container_testimonials_inner {
	padding-top: 80px;
	display: flex;
	justify-content: space-between;
}

.upper_rectangle_testimonials {
	position: relative;
	width: 550px;
	height: 650px;
	border-radius: 0 50px 0 50px;
	background-color: #B3B3B3;
}

.lower_rectangle_container {
	position: absolute;
	right: -50px;
	width: 100%;
	max-width: 106px;
	margin-top: 138px;
}

.lower_rectangle {
	margin-bottom: 30px;
	display: block;
	width: 100px;
	height: 100px;
	background-color: #B3B3B3;
	border: 6px solid #FFFFFF;
	border-radius: 0 15px;
	transition: all .2s linear;
	cursor: pointer;
}

.lower_rectangle:hover {
	border-color: #FEDB41;
}

.container_testimonials {
	width: 100%;
	max-width: 470px;
	padding: 120px 0;  
}

.testimonials_icon {
	margin-bottom: 15px;
	font-size: 60px;
	color: #00BAEC;
}

.testimonials_title {
	font-size: 24px;
	font-weight: 700;
}

.testimonials_subtext {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #004976;
	opacity: 0.7;
}

.testimonials_yellow_icon {
	margin-top: 56px;
	margin-bottom: 34px;
	font-size: 20px;
	color: #FDBD47;
}

.testimonials_text {
	margin-top: 2px;
    font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #0E182B;
}

/* Footer */

.section_footer {
	padding-top: 148px;
	background-color: #14396D;
}

/* Contacts and Information */

.container_contacts {
	padding-bottom: 76px;
	display: flex;
	justify-content: space-between;
}

.footer_column {
	width: 100%;
	max-width: 300px;
}

.footer_logo {
	width: 192px;
	height: 64px;
	background: url("../img/footer_logo.png") center no-repeat;
	background-size: cover;
}

.contacts_text {
	margin-top: 43px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
	opacity: 0.7;
}

.email_form {
	width: 100%;
	max-width: 300px;
	display: flex;
	margin-top: 58px;
}

.email_input {
	width: 77%;
	padding: 15px;
	background-color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	border: 0;
	color: #14396D;
	border-radius: 3px 0 0 3px;
	line-height: 1.1;
}

.email_input::placeholder {
	color: #14396D;
	opacity: 0.5;
} 

.email_btn {
	width: 23%;
	padding: 15px 20px;
	background-color: #00BAEC;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
	cursor: pointer;
	border: 0;
	border-radius: 0 3px 3px 0;
	line-height: 1.1;
	transition: background .2s linear;
}

.email_btn::placeholder {
	color: #FFFFFF;
	opacity: 0.7;
} 

.email_btn:hover {
	background-color: #0087EE;
}

.footer_title {
	color: #FFFFFF;
	font-size: 24px;
	font-weight: 700;
}

.services_list {
	margin-top: 43px;
	list-style-type: none;
	padding-left: 0; 
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
	opacity: 0.7;
}

.services_list li {
	margin-bottom: 15px;
}

.links {
	text-decoration: none;
	color: #FFFFFF;
}

.block_contact_us {
	position: relative;
	height: 277px;
}

.contact_information {
	margin-top: 43px;
	width: 100%;
	max-width: 324px;
	line-height: 2;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #FFFFFF;
}

.phone_email {
	font-weight: 500;
	opacity: 0.8;
}

.address {
	font-weight: 400;
	opacity: 0.7;
	line-height: 1;
}

.house_number {
	margin-right: 5px;
}

.footer_social_meadia {
	width: 100%;
	max-width: 190px;
	position: absolute;
	display: flex;
	justify-content: space-between;
	bottom: 0;
	font-size: 18px;
}

.social_media_circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #FFFFFF;
	text-align: center;
}

.media_block {
	margin-top: 6px;
}

.facebook_link {
	color: #003072;
}

.twitter_link {
	color: #00BAEC;
}

.pinterest_link {
	color: #027E9F;
}

.instagram_link {
	color: #F001C8;
}

/* Lower_footer */

.lower_footer {
	bottom: 0;
	width: 100%;
	padding: 8px 0;
	background-color: #0D2B55;
}

.container_footer {
	display: flex;
	justify-content: space-between;
}

.privacy_policy {
	width: 100%;
	max-width: 137px;
	margin-top: 5px;
}

.footer_text {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
	opacity: 0.6;
	text-decoration: none;
}